{% extends 'ProjectForumBundle::layout.html.twig' %}

{% block content -%}
    <h1>Liste des sujets</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Categorynodeid</th>
                <th>Islocked</th>
                <th>Datecreation</th>
                <th>Dateupdate</th>
                <th>Replycount</th>
                <th>Viewcount</th>
                <th>Sticky</th>
                <th>Lastpostdate</th>
                <th>Lastpostid</th>
                <th>Lastpostuserid</th>
                <th>Lastpostusername</th>
                <th>Firstpostid</th>
                <th>Firstpostlikes</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for thread in threads %}
            <tr>
                <td><a href="{{ path('thread_show', { 'threadId': thread.id }) }}">{{ thread.id }}</a></td>
                <td>{{ thread.title }}</td>
                <td>{{ thread.categoryNodeId }}</td>
                <td>{{ thread.isLocked }}</td>
                <td>{% if thread.dateCreation %}{{ thread.dateCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if thread.dateUpdate %}{{ thread.dateUpdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ thread.replyCount }}</td>
                <td>{{ thread.viewCount }}</td>
                <td>{{ thread.sticky }}</td>
                <td>{% if thread.lastPostDate %}{{ thread.lastPostDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ thread.lastPostId }}</td>
                <td>{{ thread.lastPostUserId }}</td>
                <td>{{ thread.lastPostUsername }}</td>
                <td>{{ thread.firstPostId }}</td>
                <td>{{ thread.firstPostLikes }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('thread_show', { 'threadId': thread.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('thread_edit', { 'threadId': thread.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('thread_new') }}">
                Créer un nouveau sujet
            </a>
        </li>
    </ul>
    {% endblock %}
