{% extends 'ProjectForumBundle::layout.html.twig' %}

{% block content -%}

    <h1>Création d'un sujet</h1>
    <form action="{{ path('thread_create', {'forum': forumId}) }}" method="post" {{ form_enctype(form) }}>
        
        {{ form_widget(form) }}

        <p>
            <button type="submit">Créer</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('thread') }}">
            Retour vers la liste
        </a>
    </li>
</ul>
{% endblock %}
