{% extends 'ProjectForumBundle::layout.html.twig' %}

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

    {% block javascripts %}{{ parent() }}

        <script type="text/javascript" src="{{ asset('library/tinymce/tinymce.min.js') }}"></script>

        <script type="text/javascript">

            tinymce.PluginManager.add('mediaplugin', function(editor, url) {

                editor.addMenuItem('imagetab', {
                    text: 'Images',
                    context: 'media_tab', //We are going to use this in the Tinymce.init method
                    onclick: function() {
                       editor.insertContent('Menu item 1');
                    }
                });

                editor.addMenuItem('videotab', { //this will change
                    text: 'Vidéos', //this will change if desire
                    context: 'media_tab',
                    onclick: function() {
                        $('body').css('background', 'red');
                    }
                });

                $('.quoteLink').on("click", function() {
                    editor.insertContent('quote');
                });
            });

            tinymce.init({


                selector: "textarea",
                theme: "modern",
                height: 300,
                plugins: [
                     "mediaplugin advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
                     "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                     "save table contextmenu directionality emoticons template paste textcolor"
               ],
               toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image media | print preview fullpage | forecolor backcolor emoticons table", 
               style_formats: [
                    {title: 'Bold text', inline: 'b'},
                    {title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
                    {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
                    {title: 'Example 1', inline: 'span', classes: 'example1'},
                    {title: 'Example 2', inline: 'span', classes: 'example2'},
                    {title: 'Table styles'},
                    {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
                ],
                language : 'fr_FR',

                /* BARRE DU HAUT BUG SI DECOMMENTER
                   -- Ne pas suprimer ce code
                   -- Ne pas suprimer ce code

                    menu : {
                        file: {title: 'File', items: 'newdocument'}, 
                        edit: {title: 'Edit', items: 'undo redo | cut copy paste | selectall'}, 
                        insert: {title: 'Insert', items: '|'}, 
                        view: {title: 'View', items: 'visualaid'}, 
                        format: {title: 'Format', items: 'bold italic underline strikethrough superscript subscript | formats | removeformat'}, 
                        table: {title: 'Table', items: 'inserttable'}, 
                        tools: {title: 'Tools'},
                        //media_tab: {title: 'Média', items: 'imagetab videotab'},
                    },

                   -- Ne pas suprimer ce code
                   -- Ne pas suprimer ce code
                */




            })

        </script>






    {% endblock %}


{% endif %}

{% block content -%}


<a href="{{ url('message') }}">Créer un nouveau message</a>

    <div class="threadView category-{{ thread.categoryNodeId }}" id="threadView-{{ thread.id }}">

        {# Ici ajouter le titre du forum #}
        <h2>{{ thread.title }}</h2>

        <ol class="messageList">
            {% for message in thread.messages %}

                <li class="messageContainer" id="message-{{ message.id }}">

                    <div class="messageUserInfo">
                        <p class="username">{{ message.user.username }}</p>
                        {% if message.user.avatar is defined %}
                            <p class="avatar"><img src="{{ asset(message.user.avatar) }}" title="Avatar"/></p>
                        {% endif %}
                    </div>

                    <div class="message message-{{ message.id }}">

                        <div class="content">{{ message.content|raw }}</div>

                        <div>
                            <p class="date">{{ time_diff(message.dateCreation) }}</p>
                            <p class="date">{{ time_diff(message.dateUpdate) }}</p>
                            <p class="quoteLink">Quote</p>
                        </div>

                    </div>
                </li>

            {% endfor %}
        </ol>

    </div>

    <br />
    <br />
    <br />

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

    <div class="newMessage">
        <form action="{{ path('message_create', { 'thread': thread.id }) }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <input type="submit" formnovalidate="true" />
        </form>
    </div>
    {% endif %}

{% endblock %}
