{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Team list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Teamquote</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <td><a href="{{ path('admin_team_show', { 'id': team.id }) }}">{{ team.id }}</a></td>
                <td>{{ team.title }}</td>
                <td>{{ team.description }}</td>
                <td>{{ team.teamquote }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_team_show', { 'id': team.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_team_edit', { 'id': team.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admin_team_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
