{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Team</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ team.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ team.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ team.description }}</td>
            </tr>
            <tr>
                <th>Teamquote</th>
                <td>{{ team.teamquote }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_team') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_team_edit', { 'id': team.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('admin_team_delete', { 'id': team.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
