<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('foundation/css/foundation.min.css') }}">
        <script type="text/javascript" src="{{ asset('foundation/js/vendor/custom.modernizr.js') }}"></script>
        <style>
            h1, h2, h3, h4, h5, h6, ol, ul, li, li p {
                margin: 0;
                padding: 0;
                }
            ul, ol, li {
                list-style-type: none; 
            }
            body > div.container {
                width: 63%;
                margin: auto;
                padding: 10px;
                background: rgb(240,240,240);
            }
            .breadcrumb {
                background-color: rgb(230,230,230);
                padding: 5px;
            }
            .categories, .category, .forumView {
                margin: 30px 0;
            }
            .categoryBar {
                margin-bottom: 10px;
            }
            .forumList li, .threadsList li {
                position: relative;
                background-color: rgb(230,230,230);
                padding: 5px;
            }
            .forumList li > div, .threadsList li > div {
                display: inline-block;
            }
            .forumList li > div.statsCount, .threadsList li > div.statsCount {
                position: absolute;
                left: 50%;
            }
            .forumList li > div.lastPostInfo, .threadsList li > div.threadInfo2 {
                position: absolute;
                right: 5px;
            }
            .flash {
                padding: 2px;
                width: 100%;
                height: 25px;
                font-size: 18px;
            }
            #flash-error {
                background-color: #F7230C;
            }
            #flash-success {
                background-color: #3A9D23;
            }
            #flash-info {
                background-color: #318CE7;
            }

        </style>
            <script type="text/javascript" src="{{ asset('foundation/js/vendor/jquery.js') }}"></script>

    </head>
    <body>
        <div class="container">
            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
            <script type="text/javascript" src="{{ asset('foundation/js/foundation.min.js') }}"></script>
        </div>
    </body>
</html>
