{% extends 'ProjectForumBundle::layout.html.twig' %}

{% block content -%}

<a href="{{ path('thread_new', {'forumId': forum.id}) }}">Créer un nouveau sujet</a><br />

    <div class="forumView category-{{ forum.categoryNodeId }}" id="forumView-{{ forum.id }}">

        {# Ici ajouter le titre du forum #}
        <h2>{{ forum.title }}</h2>

        <ol class="threadsList">
            {% for thread in forum.threads %}

                <li class="thread" id="thread-{{ thread.id }}">
                    <div class="threadInfo">
                        <h4 class="topicTitle"><a href="{{ url('thread_show', {'thread': thread.id }) }}">{{ thread.title }}</a></h4>

                        <p>Débuté par <span class="username">{{ thread.firstPostUsername }}</span>, <span class="date">{{ time_diff(thread.dateCreation) }}</span></p>
                    </div>
                    <div class="statsCount">
                        <p class="replyCount"><span class="count">{{ thread.replyCount }}</span> réponses</p>
                        <p class="viewCount"><span class="count">{{ thread.viewCount }}</span> vues</p>
                    </div>
                    <div class="threadInfo2">
                        <p class="username">{{ thread.lastPostUsername }}</p>
                        <p class="date">{{ time_diff(thread.lastPostDate) }}</p>
                    </div>
                </li>

            {% endfor %}
        </ol>

    </div>

{% endblock %}