{% extends 'ProjectForumBundle::layout.html.twig' %}

{% block content -%}
    <h1>Liste des catégories</h1>
    <hr>
        {% for category in categories %}
            
    <a href="{{ path('admin_category_show', { 'id': category.id }) }}">{{ category.id }}</a> |
    <strong>{{ category.title }}</strong> |
    {{ category.description }} |
    {{ category.displayOrder }} |

    <a href="{{ path('admin_category_show', { 'id': category.id }) }}">Afficher</a>
    <a href="{{ path('admin_category_edit', { 'id': category.id }) }}">Modifier</a>

    <hr>

        {% endfor %}
        <ul>
        <li>
            <a href="{{ path('admin_category_new') }}">
                Créer une nouvelle catégorie
            </a>
        </li>
    </ul>
    {% endblock %}
