{% extends 'ProjectForumBundle::layout.html.twig' %}

{% block content -%}
    <h1>Category creation</h1>

    <form action="{{ path('admin_category_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Créer la catégorie</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_category') }}">
            Retour vers la liste
        </a>
    </li>
</ul>
{% endblock %}
