{% extends 'ProjectForumBundle::layout.html.twig' %}

{% block content -%}
    <h1>Catégorie : {{ category.title }}</h1>

    <strong>ID</strong> : {{ category.id }} <br>
    <strong>Titre</strong> : {{ category.title }} <br>
    <strong>Description</strong> : {{ category.description }} <br>
    <strong>Ordre d'affichage</strong> : {{ category.displayOrder }} <br>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_category') }}">
            Retour vers la liste
        </a>
    </li>
    <li>
        <a href="{{ path('admin_category_edit', { 'id': category.id }) }}">
            Modifier
        </a>
    </li>
    <li>
        <form action="{{ path('admin_category_delete', { 'id': category.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Supprimer</button>
        </form>
    </li>
</ul>
{% endblock %}
