{% extends 'ProjectForumBundle::layout.html.twig' %}

{% block content -%}


    <div id="forumHomeView">

        <ol class="categories">

            {% for category in categories %}


                {# ici controller si utilisateur a accès à la catégorie #}
                {#
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {% for userTeam in app.user.teams %}
                        {% for categoryTeam in category.groupsWithAccess %}

                    {% for userTeam in app.user.teams %}
                        {% for categoryTeam in category.groupsWithAccess %}

                            {% if userTeam == categoryTeam %}
                                {% set userCategoryAccess = true %}
                            {% endif %}

                        {% endfor %}
                    {% endfor %}
                {% endif %}
                #}

                <li class="category category-{{ category.id }}">

                    <div class="categoryBar">
                        <h3 class="title">{{ category.title }}</h3>
                        <p class="description">{{ category.description }}</p>
                    </div>

                    {% if category.forums.count != 0 %}
                        <ol class="forumList">
                            {% for forum in category.forums %}
                                <li id="forum-{{ forum.id }}" class="forum {#
                                Class css à afficher dans des cas précis
                                #}{% if loop.first %} first{% elseif loop.last %} last{% endif %}{#}
                                #}{% if loop.index is even %} even{% endif %}{#
                                #}{% if forum.isLocked == true %} isLocked{% endif %}">

                                    <div class="forumInfo">
                                        <h4 class="forumTitle"><a href="{{ url('forum_show', {'forumId': forum.id }) }}">{{ forum.title }}</a></h4>
                                        <p class="forumDescription">{{ forum.description }}</p>
                                    </div>
                                    <div class="statsCount">
                                        <p class="topicCount"><span class="count">{{ forum.discussionCount }}</span> Sujets</p>
                                        <p class="replyCount"><span class="count">{{ forum.messageCount }}</span> Messages</p>
                                    </div>
                                    <div class="lastPostInfo">
                                        {% if forum.lastPostId != null %}
                                            <p>Dernier : <a href="{{ url('thread_show', {'thread': forum.lastThreadId}) }}#message-{{ forum.lastPostId }}">{{ forum.lastThreadTitle }}</a>...</p>
                                            <p><span class="username">{{ forum.lastPostUsername }}</span>, <span class="date">{{ time_diff(forum.lastPostDate) }}</span></p>
                                        {% else %}
                                            <p>Ce forum ne contient aucun message</p>
                                        {% endif %}
                                    </div>
                                </li>
                            {% endfor %}
                        </ol>
                    {% endif %}
                </li>

            {% endfor %}

        </ol>

    </div>

{% endblock %}
