{% extends 'ProjectForumBundle::layout.html.twig' %}

{% block content -%}
    <h1>Edition du forum</h1>

    <form action="{{ path('admin_forum_update', { 'id': forum.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}
        <p>
            <button type="submit">Modifier</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_forum') }}">
            Retour vers la liste
        </a>
    </li>
    <li>
        <form action="{{ path('admin_forum_delete', { 'id': forum.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Supprimer</button>
        </form>
    </li>
</ul>
{% endblock %}
