{% extends 'ProjectForumBundle::layout.html.twig' %}

{% block content -%}
    <h1>Liste des forums</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Categorynodeid</th>
                <th>Description</th>
                <th>Discussioncount</th>
                <th>Messagecount</th>
                <th>Lastpostid</th>
                <th>Lastpostdate</th>
                <th>Lastpostuserid</th>
                <th>Lastpostusername</th>
                <th>Lastthreadtitle</th>
                <th>Displayorder</th>
                <th>Islocked</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for forum in forums %}
            <tr>
                <td><a href="{{ path('admin_forum_show', { 'id': forum.id }) }}">{{ forum.id }}</a></td>
                <td>{{ forum.title }}</td>
                <td>{{ forum.categoryNodeId }}</td>
                <td>{{ forum.description }}</td>
                <td>{{ forum.discussionCount }}</td>
                <td>{{ forum.messageCount }}</td>
                <td>{{ forum.lastPostId }}</td>
                <td>{% if forum.lastPostDate %}{{ forum.lastPostDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ forum.lastPostUserId }}</td>
                <td>{{ forum.lastPostUsername }}</td>
                <td>{{ forum.lastThreadTitle }}</td>
                <td>{{ forum.displayOrder }}</td>
                <td>{{ forum.isLocked }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_forum_show', { 'id': forum.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_forum_edit', { 'id': forum.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admin_forum_new') }}">
                Créer un nouveau forum
            </a>
        </li>
    </ul>
    {% endblock %}
