{% extends 'ProjectForumBundle::layout.html.twig' %}

{% block content -%}
    <h1>Création d'un forum</h1>

    <form action="{{ path('admin_forum_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Créer</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_forum') }}">
            Retour vers la liste
        </a>
    </li>
</ul>
{% endblock %}
