{% extends 'ProjectForumBundle::layout.html.twig' %}

{% block content -%}
    <h1>Forum : {{ forum.title }}</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ forum.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ forum.title }}</td>
            </tr>
            <tr>
                <th>Categorynodeid</th>
                <td>{{ forum.categoryNodeId }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ forum.description }}</td>
            </tr>
            <tr>
                <th>Discussioncount</th>
                <td>{{ forum.discussionCount }}</td>
            </tr>
            <tr>
                <th>Messagecount</th>
                <td>{{ forum.messageCount }}</td>
            </tr>
            <tr>
                <th>Lastpostid</th>
                <td>{{ forum.lastPostId }}</td>
            </tr>
            <tr>
                <th>Lastpostdate</th>
                <td>{{ forum.lastPostDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Lastpostuserid</th>
                <td>{{ forum.lastPostUserId }}</td>
            </tr>
            <tr>
                <th>Lastpostusername</th>
                <td>{{ forum.lastPostUsername }}</td>
            </tr>
            <tr>
                <th>Lastthreadtitle</th>
                <td>{{ forum.lastThreadTitle }}</td>
            </tr>
            <tr>
                <th>Displayorder</th>
                <td>{{ forum.displayOrder }}</td>
            </tr>
            <tr>
                <th>Islocked</th>
                <td>{{ forum.isLocked }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_forum') }}">
            Retour vers la liste
        </a>
    </li>
    <li>
        <a href="{{ path('admin_forum_edit', { 'id': forum.id }) }}">
            Modifier
        </a>
    </li>
    <li>
        <form action="{{ path('admin_forum_delete', { 'id': forum.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Supprimer</button>
        </form>
    </li>
</ul>
{% endblock %}
