{% extends '::base.html.twig' %}

{% block body -%}

    <a href="{{ url('admin_category') }}">Administration des catégories</a><br />
    <a href="{{ url('admin_forum') }}">Administration des forums</a><br />
    <a href="{{ url('admin_team') }}">Administration des groupes</a><br />
    <br />

    <div class="breadcrumb">
        <a href="{{ path('category') }}">Accueil du forum</a>
    {% if breadcrumbForumId is defined %}
        > <a href="{{ path('forum_show', {"forumId": breadcrumbForumId}) }}">{{ breadcrumbForumTitle }}</a>
    {% endif %}
    {% if breadcrumbThreadId is defined %}
        > <a href="{{ path('thread_show', {"thread": breadcrumbThreadId}) }}">{{ breadcrumbThreadTitle }}</a>
    {% endif %}
    </div>

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="flash" id="flash-error">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="flash" id="flash-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('info') %}
        <div class="flash" id="flash-info">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% block content -%}
    {% endblock %}

{% endblock %}
