{% extends 'ProjectForumBundle::layout.html.twig' %}

{% block content -%}
    <h1>Liste des messages</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Categorynodeid</th>
                <th>Content</th>
                <th>Datecreation</th>
                <th>Dateupdate</th>
                <th>Published</th>
                <th>Likes</th>
                <th>Dislikes</th>
                <th>Ip</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td><a href="{{ path('message_show', { 'id': message.id }) }}">{{ message.id }}</a></td>
                <td>{{ message.categoryNodeId }}</td>
                <td>{{ message.content }}</td>
                <td>{% if message.dateCreation %}{{ message.dateCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if message.dateUpdate %}{{ message.dateUpdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ message.published }}</td>
                <td>{{ message.likes }}</td>
                <td>{{ message.dislikes }}</td>
                <td>{{ message.ip }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('message_show', { 'id': message.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('message_edit', { 'id': message.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('message_new') }}">
                Créer un nouveau message
            </a>
        </li>
    </ul>
    {% endblock %}
