{% extends 'ProjectForumBundle::layout.html.twig' %}

{% block content -%}
    <h1>Création d'un message</h1>

    <form action="{{ path('message_create', {'threadId': thread.id}) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Créer</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('message') }}">
            Retour vers la liste
        </a>
    </li>
</ul>
{% endblock %}
