{% extends 'ProjectForumBundle::layout.html.twig' %}

{% block content -%}
    <h1>Message</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ message.id }}</td>
            </tr>
            <tr>
                <th>Categorynodeid</th>
                <td>{{ message.categoryNodeId }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ message.content }}</td>
            </tr>
            <tr>
                <th>Datecreation</th>
                <td>{{ message.dateCreation|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Dateupdate</th>
                <td>{{ message.dateUpdate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Published</th>
                <td>{{ message.published }}</td>
            </tr>
            <tr>
                <th>Likes</th>
                <td>{{ message.likes }}</td>
            </tr>
            <tr>
                <th>Dislikes</th>
                <td>{{ message.dislikes }}</td>
            </tr>
            <tr>
                <th>Ip</th>
                <td>{{ message.ip }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('message') }}">
            Retour vers la liste
        </a>
    </li>
    <li>
        <a href="{{ path('message_edit', { 'id': message.id }) }}">
            Modifier
        </a>
    </li>
    <li>
        <form action="{{ path('message_delete', { 'id': message.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Supprimer</button>
        </form>
    </li>
</ul>
{% endblock %}
